

h1 {
	color: red;
	text-align: center;
	font-family: 'Courgette', cursive;
	font-size: 50px;
}

body {
	background-color: #E0E0E0;
}

.board table {

	padding-left: 150px;
	padding-top: 30px;
}

.board table tr td {
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 80px;
}



.score table {
	display: inline-block;
	/*border: 1px solid black;*/
	position: absolute;
	margin-top: -280px;
	margin-left: 400px;
	padding-left: 120px;
	font-family: 'Chewy', cursive;
	text-align: center;
}

.score table tr td {
	width: 100px;
	height: 40px;
}


.container {
	width: 50%;
	height: 400px;
	margin-left: 200px;
}

#playerWin {
	background-color: yellow;
}

#computerWin {
	background-color: #FF99CC;
}

#draw {
	background-color: #99FF99;
}

.buttons {
	margin-left: 150px;
	margin-top: 20px;
}

.buttons table tr td{
	border: 1px solid blue;
	text-align: center;
	padding: 20px;
	background-image: url("../images/buttonBackground.png");
	width: 120px;
	height: 30px;
	font-family: 'Chewy', cursive;
	font-size: 20px;
}

#clearBoard {
	background-color: #9966FF;
}
#reset {
	background-color: #33FFFF;
}

#dropDownID {
	margin-left: 530px;
}

h3 {
	margin-left: 530px;
	font-family: 'Chewy', cursive;
}



